body{
  color: #000;
  font-size: 20px;
}

.foo-page{
  background: #EDF2F9;
  padding: 22px;
}
.d-flex{
  display: flex;
}
.justify-content-between{
  justify-content: space-between;
}

.foo-sidebar{
  width: 337px;
  min-height: 790px;
  top: 53px;
  background: #FFFFFF;
  border-radius: 20px;
  margin-right: 22px;
  padding: 20px;
  .foo-menu{
    background: #EDF2F9;
    border-radius: 160px;
    padding: 18px 24px;
    margin-bottom: 24px;
    cursor: pointer;
    &.is-active{
      font-weight: bold;
      background: #F0B71C;
    }
  }
}
.foo-main{
  width: calc(100% - 360px);
  ion-row{
    margin: 0 -11px;
  }
  ion-col{
    padding-inline-start: 11px;
    padding-inline-end: 11px;
    padding-top: 22px;
    padding-bottom: 0;
  }
}

.foo-table-items{
  background: #fff;
  padding: 18px 22px;
  border-radius: 12px;
  color: #434243;
  min-height: 220px;
  cursor: pointer;
  .foo-table-number{
    font-size: 36px;
    font-weight: bold;
    color: #000;
  }
}
.mr-15{
  margin-right: 15px;
}
.foo-account{
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
.bottom-menu-tabs {
  margin: 0 auto 22px;
  text-align: center;
  padding: 12px 5px;
  background: #fff;
  display: inline-block;
  border-radius: 76px;
  cursor: pointer;
}
.menu-item-tab{
  padding: 0 30px;
  display: inline-block;
  font-size: 18px;
  color: #000;
  &.is-active{
    color: #F0B71C;
  }
}
.bottom-menu{
  ion-toolbar{
    --background: #EDF2F9;
    text-align: center;
  }
}

.foo-title{
  font-size: 18px;
  margin-bottom: 5px;
  h3{
    font-size: 28px;
    font-weight: bold;
    margin: 0 24px 0 0;
  }
  .foo-table-wrap{
    min-width: 91px;
    height: 36px;
    background: #FFFFFF;
    border-radius: 18px;
    display: flex;
    align-items: center;
    overflow: hidden;
    >span{
      flex: 0 0 50%;
      text-align: center;
      height: 36px;
      line-height: 36px;
      position: relative;
      &:first-child{
        background: #F0B71C;
        padding-right: 12px;
        padding-left: 12px;
      }
      &:last-child{
        padding-right: 12px;
        padding-left: 5px;
        &:before{
          content: "";
          border-left: 7px solid transparent;
          border-bottom: 37px solid #fff;
          position: absolute;
          left: -7px;
          bottom: 0;
        }
      }
    }
  }
}

.foo-table-user{
  margin-top: 15px;
  margin-bottom: 22px;
  font-size: 20px;
}
.foo-table-time{
  margin-bottom: 11px;
}
.ml-5{
  margin-left: 5px;
}
.mr-8{
  margin-right: 8px;
}
.foo-table-price{
  font-size: 28px;
}